@charset "EUC-KR";

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.section {
	flex: 1;
	margin-bottom:30px;
	margin-top:30px;
}

* {
	margin: 0;
	padding: 0;
	font-family: ¸¼Àº °íµñ;
}

table {
	text-align: left;
	margin: 0 auto;
	border: 0;
	z-index: 1;
}

td {
	padding: 10px;
	font-size: 13px;
}

th {
	font-size: 15px;
	width: 150px;
}

.line {
	border-bottom: 3px solid #c7d696;
	font-size: 2em;
	width: 150px;
}

.tit {
	text-align: center;
	font-size: 40px;
}

.btn, .f_btn, .s_btn {
	background: #c7d696;
	border: 0;
	border-radius: 5px;
	width: 120px;
	height: 25px;
	font-size: 14px;
	cursor: pointer;
}

.f_btn, .s_btn {
	width: 75px;
}

.box {
	height: 25px;
}

select {
	height: 30px;
}