@charset "EUC-KR";
@import
	url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
section{
	color: #c7d696;
	float: middle;
	font-family: 'Gaegu', cursive;
	font-size: 100px;
	position: relative;
	top: 200px;
	text-align: center;
}
.cont{
	color: black;
	font-size: 20px;
}