@charset "EUC-KR";

@import
	url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

*{
	font-family: 맑은 고딕;
}

.ft {
	width: 100%;
	height: 70px;
	background-color: rgba(64, 80, 128, 0.1);
	z-index: 1;
}

.name{
	color: #c7d696;
	float: left;
	position: relative;
	top: 0px;
	left: 260px;
	font-family: 'Gaegu';
	font-size: 40px;
}

.copy{
	font-size:15px;
	float:left;
	position: relative;
	top: 15px;
	left: 300px;
	width:700px;
	font-size:13px;
}

.myongji{
	position:relative;
	top:3px;
	right:255px;
	float:right;
	width:60px;
	height:60px;
}