@charset "EUC-KR";
@import
	url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');

html, body{
	height:100%;
}

body{
	display:flex;
	flex-direction:column;
}

section{
	flex:1;
}

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	height: 75px;
	position: fixed;
	width: 100%;
	z-index: 999;
	top: 0;
	left: 0;
}

h1 a{
	color: #c7d696;
	line-height: 80px;
	float: left;
	font-family: 'Gaegu', cursive;
	font-size: 40px;
}

.menu {
	position: relative;
	top: 13px;
	left: 400px;
	font-size: 17px;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
	position: absolute;
	top: 30px;
	left: 130px;
}

.joinup{
	font-size: 10px;
	position: absolute;
	top: 10px;
	left:1240px;
	z-index: 1000;
}

footer{
	background-color:rgba(64, 80, 128, 0.1);
}

ul {
	list-style-type: none;
	overflow: hidden;
}

li {
	float: left;
}

li a, .dropbtn {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	color: brown;
}

li.dropdown {
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	font-size: 15px;

}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	color: brown;
}

.dropdown:hover .dropdown-content {
	display: block;
} 