@charset "EUC-KR";

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

.section {
	flex: 1;
	margin-top:20px;
	margin-bottom:50px;
}

* {
	margin: 0;
	padding: 0;
}

table {
	font-family: 맑은 고딕;
	text-align: left;
	margin: 0 auto;
	border:0;
}

td {
	padding: 10px;
	font-size: 13px;
}

th {
	font-size: 15px;
	width: 120px;
}
.line{
	border-bottom: 3px solid #FF7F50;
	font-size: 2em
}

.tit{
	text-align: center;
	font-size: 40px;
	margin-top:100px;
}

.btn, .f_btn, .s_btn{
	background:#FF7F50;
	border:0;
	border-radius: 5px;
	width: 120px;
	height: 25px;
	font-size: 14px;
}

.f_btn{
	width: 75px;
}

.s_btn{
	width: 60px;
}

.box{
	height: 25px;
}

select{
	height: 30px;
}